.git
.github
.vs
.vscode
.idea

**/.DS_Store
**/*.suo
**/*.user
**/*~

**/bin
**/obj
**/TestResults
**/coverage
**/coverage.*
artifacts

**/*.log
**/logs
**/tmp
**/temp

.env
.env.*
**/secrets.json
**/appsettings.*.local.json
**/*.cer
**/*.crt
**/*.key
**/*.pem
**/*.pfx

**/*.db
**/*.sqlite
**/*.sqlite3

tests
docs
README.md
docker-compose.override.yml
docker-compose.*.override.yml
